html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*MAIN*/
.content {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-panel {
    width: 280px;
    flex-shrink: 0;
}

.right-panel {
    flex: 1;
    overflow-x: hidden;
}

.right-panel {
    padding: 20px;
}

/*SIDEBAR*/
.sidebar {
    height: 100%;
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.navgroup-inner ul li {
    display: flex;
    align-items: center;
}

.navgroup-inner ul li > a > i {
    margin-right: 7px;
}

.navgroup-inner ul li > a {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    color: #172b4d;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    padding: 7px 10px;
}

.navgroup-inner ul li > a:hover {
    background: rgba(9, 30, 66, 0.08);
}
