html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*MAIN*/
.content {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-panel {
    width: 280px;
    flex-shrink: 0;
}

.right-panel {
    flex: 1;
    overflow-x: hidden;
}

.right-panel {
    padding: 20px;
}

/*SIDEBAR*/
.sidebar {
    height: 100%;
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.navgroup-inner ul li {
    display: flex;
    align-items: center;
}

.navgroup-inner ul li > a > i {
    margin-right: 7px;
}

.navgroup-inner ul li > a {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    color: #172b4d;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    padding: 7px 10px;
}

.navgroup-inner ul li > a:hover {
    background: rgba(9, 30, 66, 0.08);
}

/*TASK VIEW*/
.task-view {
    padding: 15px;
    background-color: #fff;
}

.task-view-content {
    margin-top: 30px;
    display: flex;
}

.task-view-main-column {
    flex-grow: 1;
}

.task-view-side-column {
    width: 30%;
    flex-shrink: 0;
}

.task-header-main {
    display: flex;
}

.task-header-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.task-header-breadcrumbs {
    margin-bottom: 33px;
}

small {
    display: block;
    font-weight: normal;
    font-size: 11px;
    color: #42526E;
    margin-top: 2px;
}

.task-title {
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
}

.task-id {
    display: inline-block;
    text-transform: uppercase;
}

/*TASKS TABLE*/
.tag {
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.bug {
    background: red;
}

.story {
    background: purple;
}

.task {
    background: dodgerblue;
}

table.aui tbody td.story-points {
    text-align: center;
}

td.story-points span {
    border-radius: 2em;
    color: rgba(9, 30, 66, 0.95);
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 2px 6px;
    text-transform: uppercase;
    background-color: #B3D4FF;
    color: #0052CC;
    font-weight: 600;
}

